@font-face {
	font-family: 'Merriweather';
	font-display: swap;
	src: url('../../base/fonts/Merriweather-Regular.ttf') format('truetype');
	// font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'NerkoOne';
	font-display: swap;
	src: url('../../base/fonts/NerkoOne-Regular.ttf') format('truetype');
	// font-weight: 300;
	font-style: normal;
}