.noteMaker {
	display: flex;
	flex-direction: column;
	border: 1px solid DarkGreen;
	border-radius: 0px 7px 7px 0px;
	width: 100%;
	padding: 25px 15px 15px;
	border-left: none;
	position: relative;

	h2 {
		text-align: center;
		margin: 0 auto 15px;
		user-select: none;
	}

	p {
		margin: 0 0 5px;
		text-align: left;
		user-select: none;
	}

	input,
	textarea {
		margin-bottom: 18px;
		border-radius: 5px;
		border: 1px solid rgb(163, 163, 163);
		height: 20px;
		font-size: 14px;
		padding: 2px 10px;
		user-select: none;

		&:focus {
			border: 1px solid white;
			outline: 2px solid #99d0f0;
			box-shadow: 0px 0px 10px #99d0f0;
		}
	}

	textarea {
		line-height: 16px;
		line-height: 16px;
		min-height: calc(16px*4 + 2px*2);
		resize: none;
	}

	button {
		background: rgb(41, 148, 89);
		width: 100px;
		height: 30px;
		margin: 0 auto;
		border-radius: 7px;
		font-size: 15px;
		transition: all 0.1s linear;
		color: Seashell;
		border: none;
		cursor: pointer;
		user-select: none;

		&:hover {
			background: rgb(236, 235, 235);
			transform: scale(1.1);
			background: DarkGreen;
			border: 1px solid YellowGreen;
			color: white;
			box-shadow: 0px 0px 15px LightGreen;
			border: 3px solid yellowgreen;
		}

		&:active {
			transform: scale(0.95);
		}
	}

	&__startMistakeMessage,
	&__endMistakeMessage {
		opacity: 0;
		transition: all 1s linear;
		position: absolute;
		user-select: none;

		&_active {
			opacity: 1;
			color: tomato;
		}
	}

	&__startMistakeMessage {
		top: 130px;
		left: 100px;
	}

	&__endMistakeMessage {
		top: 193px;
		left: 100px;
	}
}